html
  head
    title= title
    link(rel='stylesheet', href='/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/vendor/bower_components/angular/angular.min.js')
    script(type='text/javascript', src='/vendor/bower_components/angular-resource/angular-resource.min.js')
    script(type='text/javascript', src='/javascripts/main.js')
  body!= body