<h2>{{get_team().name}}</h2>
<h4>{{get_team().member_one}}/{{get_team().member_two}}</h4>

<div>Осталось {{remaining_time}} с</div>

<div><h4>слово: {{get_word()}}</h4></div>

<div>
    <span>угадано: {{get_team().guesses}}</span>
    <span>пропущено: {{get_team().pass.length}}</span>
</div>

<div>
    <button class="btn btn-success" ng-click="guessing()">Угадал!</button>
    <button class="btn btn-warning" ng-click="pass(get_word())">Пропущу...</button>
</div>