<div>
    <div>угадано: {{get_team().guesses}}</div>
    <div>пропущено: {{get_team().pass.length}}</div>
</div>
<div>
    <button class="btn btn-primary" ng-click="next_team()">следующая команда >></button>
</div>
<div data-ng-show="is_circle_end()">
    <!--<button ng-click="end_game()">Завершить игру</button>-->
    <button class="btn btn-primary" ng-click="render('result')">Статистика</button>
</div>