<h4>{{get_team().name}}</h4>

<span ng-if="circle % 2 == 0">
  <div>загадвыает: {{get_team().member_one}}</div>
  <div>угадывет: {{get_team().member_two}}</div>
</span>
<span ng-if="circle % 2 != 0">
  <div>загадвыает: {{get_team().member_two}}</div>
  <div>угадывет: {{get_team().member_one}}</div>
</span>

<button class="btn btn-success" ng-click="ready()">Готов!</button>