<h5>Результаты:</h5>

<div class="row show-grid">
    <div class="col-md-2">Название команды</div>
    <div class="col-md-2">Участники</div>
    <div class="col-md-2">угадано</div>
    <div class="col-md-2">пропущено</div>
    <div class="col-md-4"> &nbsp; </div>
    <div ng-repeat="team in teams | orderBy:guesses:reverse">
        <div>
            <div class="col-md-2">{{team.name}}</div>
            <div class="col-md-2">{{team.member_one}}/{{team.member_two}}</div>
            <div class="col-md-2">{{team.guesses}}</div>
            <div class="col-md-2">{{team.pass.length}}</div>
            <div data-ng-click="team.show_details = !team.show_details" class="col-md-4"> <a href="">детали >></a></div>
        </div>
        <div data-ng-show="team.show_details" class="col-md-12">
            Пропущены: <span ng-repeat="pass in team.pass">{{pass}}<span data-ng-if="!$last">, </span></span>
        </div>
    </div>
</div>
<button class="btn btn-primary" ng-click="render('next_team')"> << Вернутся в игру</button>