<div>Команд: {{teams.length}} </div>
<form role="form">
    <div class="form-group">
        <div>
            <label for="name">Название команды: </label>
            <input class="form-control" type="text" id="name" name="name" ng-model="team_data.name">
        </div>
    </div>
    или
    <div class="form-group">
        <div>
            <label for="member1">Првый участник: </label>
            <input class="form-control" type="text" id="member1" name="member1" value="" ng-model="team_data.member_one">
        </div>
        <div>
            <label for="member2">Второй участник: </label>
            <input class="form-control" type="text" id="member2" name="member2" value="" data-ng-model="team_data.member_two">
        </div>
    </div>
    <button class="btn btn-primary" ng-click="addTeam()">Добавить команду</button>
    <!--<button ng-click="settings()">Настройки</button>-->
    <button class="btn btn-success" ng-show="teams.length > 1" ng-click="render('ready')">Играть!</button>
</form>


